* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 150, 30);

    h1 {
        color: #fefefe;       
        margin-bottom: 2%;
    }
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 40%;
    min-width: 200px;
    min-height: 500px;
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: #fefefe;
    margin: 0 auto;

    h2 {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 10px auto;
        color: rgb(8, 56, 11);
        text-align: center;
    }
}

.form-group {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

label {
    color: rgb(18, 4, 51);
    font-size: 15px;
    font-weight: 500;
}


.form-control {
    width: 100%;
    background-color: transparent;
    height: 40px;
    outline: none;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    border: 1px solid #d6d1d5;
}

.txt {
    resize: none;
    height: 60px;
}

.form_birthday {
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border: 1px solid transparent;
}

input::placeholder {
    font-size: 1rem;
    font-weight: lighter;
    color: #bbb;
}

.alert {
    font-size: 18px;
    color: rgb(61, 9, 9);
    text-align: center;
}

.btn {
    min-width: 100%;
    font-size: 1em;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 0.938em;
    border: none;
    border-radius: 4px;
    background-color: rgb(22, 165, 58);
    color: #fefefe;
}

.btn:hover {
    background-color: rgb(6, 73, 11);
    color: #fefefe;
}

.alertSuccess {
    font-size: 18px;
    color: rgb(5, 19, 66);
    text-align: center;
}